.card{
  border:1px solid #ccc;
  padding:10px;
  border-radius:6px;
}

.main-img{
  width:100%;
  height:150px;
  object-fit:cover;
}

.thumb{
  width:40px;
  height:30px;
  margin:4px;
  cursor:pointer;
}
