
.wrapper {
    display: flex;         
    justify-content: center;   
    align-items: flex-start;   
    gap: 40px;                 
    padding: 40px 0;
}

.left {

    border-right: 4px solid #dbdbdb;
    padding-right: 30px;
}

.left img {
    height: 700px;
}
.right {
    width: 550px;
}

.login-box {
    background: #fff;
    padding: 40px;
    width: 420px;
}

.title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
}

.login-box input {
    width: 100%;
    padding: 18px;
    margin-bottom: 14px;
    border-radius: 14px;
    border: 1px solid #d0d7de;
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 18px;
    border-radius: 999px;
    background: #a7c7f7;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.forgot {
    display: block;
    text-align: center;
    margin: 20px 0;
    color: #000;
    text-decoration: none;
    font-weight: 500;
}

.fb-btn {
    width: 100%;
    padding: 16px;
    border-radius: 999px;
    background: white;
    border: 1px solid #d0d7de;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
    cursor: pointer;
}

.fb-btn img {
    width: 18px;
    vertical-align: middle;
    margin-right: 8px;
}

.create-btn {
    width: 100%;
    padding: 16px;
    border-radius: 999px;
    background: white;
    border: 2px solid #1877f2;
    color: #1877f2;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}


.meta {
    margin-top: 30px;
    text-align: center;
}

.meta img {
    width: 70px;
}
